{% extends "base.html" %}

{% block body %}
<div style="padding: 10%">
    <script>
        $(":input").inputmask();
        $("#phone").inputmask({"mask": "(999) 999-9999"});
    </script>
    <div>
        <h2 style="text-align: center; ">Input your credit card number and recharge!</h2>
        <hr style="padding: 20px">
        <form action="{% url 'customers:shop' %}" method="post">
            {% csrf_token %}
            <div class="form-row">
                <div class="col-7">
                    <label for="cc">Credit Card</label>
                    <input class="form-control" data-inputmask="'mask': '9999 9999 9999 9999'" id="cc" name="cc"
                           type="number"/>
                </div>

                <div class="col-5">
                    <label for="money">Charge Money</label>
                    <input class="form-control" id="money" name="money" type="number"/>
                </div>
            </div>
            <div class="form-row">
                <div class="col-12">
                    <label for="phone">Phone number</label>
                    <input class="form-control" id="phone" name="phone" type="tel"/>
                </div>
            </div>
            <div class="form-group row" style="padding-top: 20px">
                <div class="col-sm-10">
                    <button class="btn btn-primary" onclick="return handleChange2()" type="submit">Submit!</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
