{% extends "base.html" %}

{% block body %}
<div class="article__content">
    <div class="article__header">

        <h3 class="article__title">
            {{ article.title }}
        </h3>

        {% if article.author %}
        <div class="article__author">
            By <i>{{ article.author }}</i>
        </div>
        {% endif %}

        {% if article.date %}
        <div class="article__date">
            <i>{{ article.date }}</i>
        </div>
        {% endif %}
        <hr style="margin: 20px">
    </div>

    <div class="article__body">
        {{ article.free_text|safe }}
    </div>

    {% if request.user.customer.sub %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <h5>Congratulations!</h5>
            <hr style="">The paywall has been broken down!.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="article__body">
            {{ article.pay_text|safe }}
        </div>
    {% else %}
    <hr>
    <div style="text-align: center;">
        <div style="">
            <h5 >TO READ THE FULL STORY</h5>
            {% if not request.user.is_authenticated %}
                <div class="row">
                    <div style="width: 50%; padding: 10px">
                        <button class="btn btn-primary btn-block" type="button">
                            <a class="nav-link" href="/" style="color: #ffffff"><b>Subscribe</b></a>
                        </button>
                    </div>
                    <div style="width: 50%; padding: 10px">
                        <button class="btn btn-outline-dark btn-block" type="button">
                            <a class="nav-link" href="/" style="color: #000000"><b>Log in</b></a>
                        </button>
                    </div>
                </div>
            {% else %}
                <div style="width: 100%; padding: 50px">
                    <button class="btn btn-primary btn-block" type="button">
                        <a class="nav-link" href="/" style="color: #ffffff"><b>Subscribe</b></a>
                    </button>
                </div>
            {% endif %}
        </div>
    </div>
    {% endif %}
</div>


{% endblock %}