hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid #dedede
}
.article__body p a {
    border-bottom: 2px solid rgba(0, 112, 255, 0.29);
    color: #1c77e7;
}

.article__author {
    position: relative;
    padding-top: 30px;
    color: #484848;
    margin-bottom: 20px;
}

p {
    margin-bottom: .5em;
    word-break: break-word;
}

body {
    background-color: #fafafa;
}

.article__content {
    padding-top: 40px;
    margin-left: 15%;
    margin-right: 15%;
}