hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid #dedede
}
.article__body p a {
    border-bottom: 2px solid rgba(0, 112, 255, 0.29);
    color: #1c77e7;
}

.article__author {
    position: relative;
    padding-top: 30px;
    color: #484848;
    margin-bottom: 20px;
}

p {
    margin-bottom: .5em;
    word-break: break-word;
}

body {
    background-color: #fafafa;
}

.article__content {
    padding-top: 40px;
    margin-left: 15%;
    margin-right: 15%;
}

.theme-blue {
    color: #427bb8;
}

.theme-orange {
    color: #cc851c;
}

.theme-green {
    color: #8ab042;
}

.theme-grey {
    color: #666666;
}

.theme-white {
    color: #fff;
}

.theme-background-blue {
    background-color: #427bb8;
    color: #fff;
}

.theme-background-orange {
    background-color: #cc851c;
    color: #fff;
}

.theme-background-green {
    background-color: #8ab042;
    color: #fff;
}

.theme-background-grey {
    background-color: #666666;
    color: #fff;
}

.theme-background-white {
    background-color: #fff;
    color: #4c4c4c;
}

.donate-bar {
    padding: 32px 23px 28px;
}

.donate-bar > div:first-child {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    border-right: 1px dotted #2a4f76;
    margin-top: 19px;
    font-size: 25px;
    padding: 0;
}

.donate-buttons > li > a {
    font-size: 17px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    position: relative;
    display: block;
    padding: 10px 3px;
    border-radius: 5px;
}

.btn-donate-other,
.btn-donate {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    background-color: #427bb8;
    color: #fff;
    border-radius: 5px;
    border: 0;
    padding: 0;
    width: 110px;
    height: 37px;
    margin: 8px;
}

.btn-green {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    background-color: #8ab042;
    color: #fff;
    border-radius: 5px;
    border: 0;
    padding: 0;
    width: 114px;
    height: 37px;
    margin-top: 8px;
}

#other-input {
    display: none;
}

#other-input input {
    position: relative;
    font-weight: bold;
    background-color: #fff;
    color: #427bb8;
    border-radius: 5px;
    border: 0;
    border: 5px solid #427bb8;
    width: 75px;
    height: 37px;
    margin: 8px 3px 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#other-input span {
    font-family: inherit;
    font-weight: bold;
    color: #427bb8;
    position: absolute;
    padding: 13px 12px;
    z-index: 10;
    pointer-events: none;
}

.impact {
    font-size: 1.1em;
    font-weight: bold;
    clear: both;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
}

.donate-buttons .active {
    background-color: #fff;
    border: 5px solid #427bb8;
    color: #427bb8;
}

.donate-buttons:focus {
    outline: -webkit-focus-ring-color auto 0px;
}
